@page
@model PayrollAppRazorPages.Pages.Staff.AttendanceModel
@{
    ViewData["Title"] = "Attendance";
}

@*<div class="row">
    <h4 class="col">Attendance</h4>
    <form>
        <p>
            <select class="mr-md-3" asp-for="SelectedMonth" asp-items="Model.Months">
            </select>
            <select class="mr-md-3" asp-for="SelectedYear" asp-items="Model.Years">
            </select>
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>*@
<div class="row">
    <div class="col"><h2>Attendance</h2></div><br />
    <div class="col">
        <form class="form-inline">
            <select class="form-control-sm mr-sm-3" asp-for="SelectedMonth" asp-items="Model.Months">
            </select>
            <select class="form-control-sm mr-sm-3" asp-for="SelectedYear" asp-items="Model.Years">
            </select>
            <input type="submit" value="Filter" />
        </form>
    </div>
</div>
<br />


@if (Model.UserAttendance.Count == 0)
{
    <p>No attendance found.</p>
}
else
{
    Dictionary<string, int> dict = new Dictionary<string, int>();
    dict.Add("Present", 0);
    dict.Add("Absent", 0);
    dict.Add("Leave", 0);
    dict.Add("Sick", 0);

    foreach (var item in Model.UserAttendance)
    {
        dict[item.AttendanceStatus.Status] += 1;
    }
    <table class="table table-bordered table-sm text-center">
        <thead class="thead-light">
            <tr>
                <th>Present</th>
                <th>Absent</th>
                <th>Leave</th>
                <th>Sick</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@dict["Present"]</td>
                <td>@dict["Absent"]</td>
                <td>@dict["Leave"]</td>
                <td>@dict["Sick"]</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-sm text-center">
        <thead class="thead-light">
            <tr>
                <th>
                    Day
                </th>
                <th>
                    Date
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserAttendance)
            {
                <tr>
                    <td>
                        @(item.PunchDate.Value.DayOfWeek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PunchDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttendanceStatus.Status)
                    </td>
                </tr>
            }

        </tbody>
    </table>

}
