@page
@model PayrollAppRazorPages.Pages.Manage.Salary.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-auto"><h3>Payroll for @Model.SelectedDate</h3></div>
    <div class="col-auto">
        <form class="form-inline">
            @*<label for="name" class="mr-md-3"> Name: </label>*@
            <input id="name" class="form-control-sm mr-sm-3" type="text" asp-for="SearchString" placeholder="Search Name" />
            <select class="form-control-sm mr-sm-3" asp-for="SelectedMonth" asp-items="Model.Months">
            </select>
            <select class="form-control-sm mr-sm-3" asp-for="SelectedYear" asp-items="Model.Years">
            </select>
            <input type="submit" value="Filter" />

        </form>
    </div>
</div>
<br />

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                Staff Name
            </th>
            <th>
                Summary
            </th>
            <th>
                Mail status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StaffSalary)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="@(item.Summary == "Not Created"? "text-danger" : "text-success")">
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td class="@(item.Mail == "Not Sent"? "text-danger" : "text-success")">
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @if (item.SalaryId > 0)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.SalaryId">Edit | </a>
                        <a asp-page="./Details" asp-route-id="@item.SalaryId">Details | </a>
                        <a asp-page="./SalaryPDF" target="_blank" asp-route-id="@item.SalaryId">Print PDF | </a>
                        @*<a asp-page="./SaveSalaryPDF" asp-route-id="@item.SalaryId">Save PDF | </a>*@

                        <a asp-page="./SendEmail" asp-route-id="@item.SalaryId">Send Email | </a>
                        <a asp-page="./Delete" asp-route-id="@item.SalaryId">Delete</a>
                    }
                    else
                    {
                        var parms = new Dictionary<string, string>
                                    {
                            {"SelectedMonth", Model.SelectedMonth },
                            {"SelectedYear", Model.SelectedYear },
                            {"Id", item.Id }
                        };
                        <a asp-page="./CreateSalary" asp-all-route-data="parms">Create</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>