@page "{Id}"
@model PayrollAppRazorPages.Pages.Manage.Staff.DetailsModel
@{
    ViewData["Title"] = "Staff Details";
}

@*<div class="card" style="width:auto;">
        <h4 class="card-header">Staff Details - @Html.DisplayFor(model => model.applicationUser.UserName)</h4>

        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.FullName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.FullName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.ICNo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.ICNo)


                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.DOB)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.DOB)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.DateJoined)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.DateJoined)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.TaxNo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.TaxNo)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.EPFNo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.EPFNo)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.SocsoNo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.SocsoNo)
                </dd>
            </dl>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.BasicSalary)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.BasicSalary)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.Allowances)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.Allowances)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.EPF)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.EPF)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.EREPF)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.EREPF)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.Socso)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.Socso)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.SocsoRm)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.SocsoRm)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.ERSocsoRm)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.ERSocsoRm)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.EIS)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.EIS)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.EREIS)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.EREIS)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.applicationUser.StaffData.Tax)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.applicationUser.StaffData.Tax)
                </dd>
            </dl>
        </div>
    </div>*@

<style>
    label {
        font-weight: bold;
    }
</style>

<h1>Staff Details - @Html.DisplayFor(model => model.applicationUser.UserName)</h1>
<hr />

<div class="card-deck">
    @*col-md-5*@
    <div class="card ">
        <h4 class="card-header">Personal Details</h4>

        <div class="card-body">
            <div class="form-group">
                <label asp-for="applicationUser.UserName"></label>
                : @Html.DisplayFor(model => model.applicationUser.UserName)
            </div>
            <div class="form-group">
                <label asp-for="applicationUser.FullName"></label>
                : @Html.DisplayFor(model => model.applicationUser.FullName)
            </div>
            <div class="form-group">
                <label asp-for="applicationUser.ICNo"></label>
                : @Html.DisplayFor(model => model.applicationUser.ICNo)
            </div>
            <div class="form-group">
                <label asp-for="applicationUser.Email"></label>
                : @Html.DisplayFor(model => model.applicationUser.Email)

            </div>
        </div>
    </div>
    @*col-md-5 offset-md-2*@
    <div class="card">

        <h4 class="card-header">Employee Details</h4>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="applicationUser.StaffData.DOB"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.DOB)

            </div>
            <div class="form-group">
                <label asp-for="applicationUser.StaffData.DateJoined"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.DateJoined)

            </div>
            <div class="form-group">
                <label asp-for="applicationUser.StaffData.TaxNo"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.TaxNo)

            </div>
            <div class="form-group">
                <label asp-for="applicationUser.StaffData.EPFNo"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.EPFNo)

            </div>
            <div class="form-group">
                <label asp-for="applicationUser.StaffData.SocsoNo"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.SocsoNo)
            </div>
        </div>
        @*end card-body*@
    </div>
</div>
<br />

<div class="card-deck">
    <div class="card">
        <h4 class="card-header">Default Salary Details</h4>
        @*<hr />*@
        <div class="row card-body">
            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.BasicSalary"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.BasicSalary)
            </div>
            <div class="col-md-7"></div>
            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.Allowances"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.Allowances)
            </div>
            <div class="col-md-7"></div>
            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.EPF"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.EPF)
            </div>
            <div class="form-group col-md-5 offset-md-2">
                <label asp-for="applicationUser.StaffData.EREPF"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.EREPF)
            </div>
            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.Socso" class="control-label"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.Socso)
            </div>
            <div class="col-md-7"></div>

            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.SocsoRm"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.SocsoRm)
            </div>

            <div class="form-group col-md-5 offset-md-2">
                <label asp-for="applicationUser.StaffData.ERSocsoRm"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.ERSocsoRm)
            </div>

            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.EIS"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.EIS)
            </div>
            <div class="form-group col-md-5 offset-md-2">
                <label asp-for="applicationUser.StaffData.EREIS"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.EREIS)
            </div>

            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.Tax"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.Tax)
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>

</div>

<br />
<div>
    <a class="btn btn-info" asp-page="./Edit" asp-route-id="@Model.applicationUser.Id">Edit</a>
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>