@page "{Id}"
@model PayrollAppRazorPages.Pages.Manage.Staff.DetailsModel
@{
    ViewData["Title"] = "Staff Details";
}

<style>
    label {
        font-weight: bold;
    }
</style>

<div class="row">
    <h4 class="col">Staff Details - @Html.DisplayFor(model => model.applicationUser.UserName)</h4>
    <div class="col d-flex justify-content-end">
        <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
    </div>
</div>
<hr />
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="card-deck">
    @*col-md-5*@
    <div class="card ">
        <h4 class="card-header">Personal Details</h4>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="applicationUser.UserName"></label>
                : @Html.DisplayFor(model => model.applicationUser.UserName)
            </div>
            <div class="form-group">
                <label asp-for="applicationUser.FullName"></label>
                : @Html.DisplayFor(model => model.applicationUser.FullName)
            </div>
            <div class="form-group">
                <label asp-for="applicationUser.ICNo"></label>
                : @Html.DisplayFor(model => model.applicationUser.ICNo)
            </div>
            <div class="form-group">
                <label asp-for="applicationUser.PhoneNumber"></label>
                : @Html.DisplayFor(model => model.applicationUser.PhoneNumber)

            </div>
            <div class="form-group">
                <label asp-for="applicationUser.Email"></label>
                : @Html.DisplayFor(model => model.applicationUser.Email)

            </div>
        </div>
    </div>
    @*col-md-5 offset-md-2*@
    <div class="card">

        <h4 class="card-header">Employee Details</h4>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="applicationUser.StaffData.DOB"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.DOB)

            </div>
            <div class="form-group">
                <label asp-for="applicationUser.StaffData.DateJoined"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.DateJoined)

            </div>
            <div class="form-group">
                <label asp-for="applicationUser.StaffData.TaxNo"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.TaxNo)

            </div>
            <div class="form-group">
                <label asp-for="applicationUser.StaffData.EPFNo"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.EPFNo)

            </div>
            <div class="form-group">
                <label asp-for="applicationUser.StaffData.SocsoNo"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.SocsoNo)
            </div>
        </div>
        @*end card-body*@
    </div>
</div>
<br />

<div class="card-deck">
    <div class="card">
        <h4 class="card-header">Default Salary Details</h4>
        @*<hr />*@
        <div class="row card-body">
            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.BasicSalary"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.BasicSalary)
            </div>
            <div class="col-md-7"></div>
            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.Allowances"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.Allowances)
            </div>
            <div class="col-md-7"></div>
            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.EPF"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.EPF)
            </div>
            <div class="form-group col-md-5 offset-md-2">
                <label asp-for="applicationUser.StaffData.EREPF"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.EREPF)
            </div>
            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.Socso" class="control-label"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.Socso)
            </div>
            <div class="col-md-7"></div>

            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.SocsoRm"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.SocsoRm)
            </div>

            <div class="form-group col-md-5 offset-md-2">
                <label asp-for="applicationUser.StaffData.ERSocsoRm"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.ERSocsoRm)
            </div>

            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.EIS"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.EIS)
            </div>
            <div class="form-group col-md-5 offset-md-2">
                <label asp-for="applicationUser.StaffData.EREIS"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.EREIS)
            </div>

            <div class="form-group col-md-5">
                <label asp-for="applicationUser.StaffData.Tax"></label>
                : @Html.DisplayFor(model => model.applicationUser.StaffData.Tax)
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>

</div>

<br />
<div>
    <a class="btn btn-info" asp-page="./Edit" asp-route-id="@Model.applicationUser.Id">Edit</a>
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>
<br />
