@page
@model PayrollAppRazorPages.Pages.Manage.Admin.IndexModel
@{
    ViewData["Title"] = "Manage Admin";
}

@*<h1>Manage Admin</h1>
    <p>
        <a asp-page="Create">Create New Admin</a>
    </p>*@
<div class="container row jumbotron" style="margin-left: 10px; background-color:steelblue;">
    <h4 class="col" style="color: white;">Manage Admin</h4>
    <p><a class="btn btn-light" asp-page="Create">Create New Admin</a></p>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div style="padding: 0 55px; margin-top: -81px;">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].ICNo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ICNo)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>