@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    var actionName = ViewContext.RouteData.Values["page"].ToString();
}
@*<script src="https://kit.fontawesome.com/29acf2f727.js" crossorigin="anonymous"></script>*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />

<div class="row main">
    <div class="col-md-2 p-0 d-print-none side">
        <div class="sidebar-item">
            <div class="make-me-sticky">
                <br /><br /><br />
                <ul class="nav nav-pills flex-column">

                    @if (User.IsInRole("superadmin") || User.IsInRole("admin"))
                    {
                        <li class="nav-item"><a class="nav-link @(actionName == "/Index" ? "active":"")" asp-page="/Index"><i class="fas fa-tachometer-alt fa-fw"></i>  Dashboard</a></li>
                        @if (User.IsInRole("superadmin"))
                        {     
                            <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Admin") ? "active":"")" asp-page="/Manage/Admin/Index"><i class="fas fa-user-tie fa-fw"></i>  Manage Admin</a></li>
                        }
                        <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Staff") ? "active":"")" asp-page="/Manage/Staff/Index"><i class="fas fa-users fa-fw"></i>  Manage Staff</a></li>
                        <li><br /></li>
                        <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Salaries") ? "active":"")" asp-page="/Manage/Salaries/Index"><i class="fas fa-file-invoice-dollar fa-fw"></i> Manage Salaries</a></li>
                        <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Attendances") ? "active":"")" asp-page="/Manage/Attendances/Index"><i class="fas fa-clipboard-list fa-fw"></i> Manage Attendance</a></li>
                        <li><br /></li>    
                        <li class="nav-item"><a class="nav-link @(actionName.Contains("/SalarySettings") ? "active":"")" asp-page="/SalarySettings/Index"><i class="fas fa-sliders-h fa-fw"></i> Salary Settings</a></li>
                        <li class="nav-item"><a class="nav-link @(actionName.Contains("/DateSettings/Index") ? "active":"")" asp-page="/DateSettings/Index"><i class="fas fa-calendar-day fa-fw"></i> Holiday Settings</a></li>
                        <li class="nav-item"><a class="nav-link @(actionName.Contains("/WorkDaySettings") ? "active":"")" asp-page="/WorkDaySettings"><i class="fas fa-calendar-day fa-fw"></i> Workday Settings</a></li>


                    }

                    @if (User.IsInRole("staff"))
                    {
                        <li class="nav-item"><a class="nav-link @(actionName == "/Index" ? "active":"")" asp-page="/Index"><i class="fas fa-tachometer-alt fa-fw"></i> Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link @(actionName.Contains("/Staff/Attendance") ? "active":"")" asp-page="/Staff/Attendance"><i class="fas fa-clipboard-list fa-fw"></i> Check Attendance</a></li>
                        <li class="nav-item"><a class="nav-link @(actionName.Contains("/Staff/Salary") ? "active":"")" asp-page="/Staff/Salary"><i class="fas fa-file-invoice-dollar fa-fw"></i> Check Salary</a></li>
                        <li class="nav-item"><a class="nav-link @(actionName.Contains("/DateSettings/Index") ? "active":"")" asp-page="/DateSettings/Index"><i class="fas fa-calendar-day fa-fw"></i> Check Holiday</a></li>

                    }
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-10 pt-md-5">
        <br />
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
