@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    var actionName = ViewContext.RouteData.Values["page"].ToString();
}
<div>
    <div class="row">
        <div class="col-md-3 mb-5 pr-5">
            <ul class="nav nav-pills flex-column">
                @if (User.IsInRole("superadmin"))
                {
                    <li class="nav-item"><a class="nav-link @(actionName == "/Index" ? "active":"")" asp-page="/Index">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Admin") ? "active":"")" asp-page="/Manage/Admin/Index">Manage Admin</a></li>
                    <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Staff") ? "active":"")" asp-page="/Manage/Staff/Index">Manage Staff</a></li>
                    <br />
                    <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Salary") ? "active":"")" asp-page="/Manage/Salaries">Manage Salaries</a></li>
                    <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Attendances") ? "active":"")" asp-page="/Manage/Attendances/Index">Manage Attendance</a></li>
                }
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item"><a class="nav-link @(actionName == "/Index" ? "active":"")" asp-page="/Index">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Staff") ? "active":"")" asp-page="/Manage/Staff/Index">Manage Staff</a></li>
                    <br />
                    <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Salary") ? "active":"")" asp-page="/Manage/Salaries">Manage Salaries</a></li>
                    <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Attendances") ? "active":"")" asp-page="/Manage/Attendances/Index">Manage Attendance</a></li>

                }
                @if (User.IsInRole("staff"))
                {
                    <li class="nav-item"><a class="nav-link @(actionName == "/Index" ? "active":"")" asp-page="/Index">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link @(actionName.Contains("/Staff/Salary") ? "active":"")" asp-page="/Staff/Salary">Check Salary</a></li>
                    <li class="nav-item"><a class="nav-link @(actionName.Contains("/Staff/Attendance") ? "active":"")" asp-page="/Staff/Attendance">Check Attendance</a></li>
                }
            </ul>

        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
