@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    var actionName = ViewContext.RouteData.Values["page"].ToString();
}
<style>
    .make-me-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .sidebar-item {
        /*position: absolute;*/
        top: 0;
        /*left: 0;*/
        width: 100%;
        height: 100%;
    }

    @@media (max-width: 767.98px) {
        .sidebar-item {
            position: relative;
        }
    }
</style>
<div>
    <div class="row">
        <div class="col-md-2 mb-5 mr-5 d-print-none">
            <div class="sidebar-item">
                <div class="make-me-sticky">
                    <ul class="nav nav-pills flex-column">

                        @if (User.IsInRole("superadmin"))
                        {
                            <li class="nav-item"><a class="nav-link @(actionName == "/Index" ? "active":"")" asp-page="/Index">Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Admin") ? "active":"")" asp-page="/Manage/Admin/Index">Manage Admin</a></li>
                            <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Staff") ? "active":"")" asp-page="/Manage/Staff/Index">Manage Staff</a></li>
                            <li><br /></li>
                            <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Salary") ? "active":"")" asp-page="/Manage/Salary/Index">Manage Salaries</a></li>
                            <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Attendances") ? "active":"")" asp-page="/Manage/Attendances/Index">Manage Attendance</a></li>
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item"><a class="nav-link @(actionName == "/Index" ? "active":"")" asp-page="/Index">Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Staff") ? "active":"")" asp-page="/Manage/Staff/Index">Manage Staff</a></li>
                            <li><br /></li>
                            <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Salary") ? "active":"")" asp-page="/Manage/Salary/Index">Manage Salaries</a></li>
                            <li class="nav-item"><a class="nav-link @(actionName.Contains("/Manage/Attendances") ? "active":"")" asp-page="/Manage/Attendances/Index">Manage Attendance</a></li>

                        }
                        @if (User.IsInRole("staff"))
                        {
                            <li class="nav-item"><a class="nav-link @(actionName == "/Index" ? "active":"")" asp-page="/Index">Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link @(actionName.Contains("/Staff/Attendance") ? "active":"")" asp-page="/Staff/Attendance">Check Attendance</a></li>
                            <li class="nav-item"><a class="nav-link @(actionName.Contains("/Staff/Salary") ? "active":"")" asp-page="/Staff/Salary">Check Salary</a></li>
                        }
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
