@page
@model PayrollAppRazorPages.Pages.Manage.Attendances.EditModel
@{
    ViewData["Title"] = "Edit";
}
@{
    var parms = new Dictionary<string, string>
    {
    {"SelectedMonth", Model.SelectedMonth },
    {"SelectedYear", Model.SelectedYear }
    };
}
<style>
    .btn-link {
        padding: 0;
    }

    .fixedPart {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    #statusCount table {
        border: 1px solid #c85636;
    }

    #statusCount th {
        max-width: 20px;
        text-align: center;
        background-color: #c85636;
        border:1px solid #c85636;
        color: white;
    }

    #statusCount td {
        text-align: center;
        border: 1px solid #c85636;
    
    }
</style>


<div class="row">
    <div  class="col">
        <h4>Attendance for @Model.applicationUser.FullName (@Model.SelectedDate)</h4>
    </div>
    
    <div class="col d-flex justify-content-end">
        <a class="btn btn-sceondary" asp-page="./Index" asp-all-route-data="parms">Back to List</a>
    </div>
</div>
<br />
<div class="row fixedPart bg-light align-items-center" style="box-shadow: 0 10px 7px -7px gray; z-index: 999">
    <div class="col-md">
        <div class="card" style="border-color:#c85636;padding:3px;">
            <div class="card-header text-white" style="background-color:#c85636;"><h5>Add Attendance</h5></div>
            <div class="card-body d-flex justify-content-center" style="padding:3px;">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group">
                            <input type="hidden" asp-for="Input.Id" />
                            <label asp-for="Input.PunchDate"></label>
                            <input value="@Model.MaxDate.ToString("yyyy-MM-dd")" class="mr-md-3" asp-for="Input.PunchDate" />
                            <span asp-validation-for="Input.PunchDate" class="text-danger"></span>
                            <select class="mr-md-3" asp-for="SelectedStatus" asp-items="Model.AttendanceStatus"></select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-sm btn-primary">Add</button>
                        </div>
                    </div>
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                </form>
            </div>
        </div>
        <br />
    </div>


    <div class="col-md">
        @if (Model.UserAttendance.Count == 0) { }
        else
        {
        Dictionary<string, int>
        dict = new Dictionary<string, int>
        ();
        dict.Add("Present", 0);
        dict.Add("Absent", 0);
        dict.Add("Leave", 0);
        dict.Add("Sick", 0);

        foreach (var item in Model.UserAttendance)
        {
        dict[item.AttendanceStatus.Status] += 1;
        }

        <div>
            <table id="statusCount" class="table table-sm table-hover" style="background-color:white;padding:3px;">
                <tbody>
                    <tr>
                        <th scope="row">Present</th>
                        <td> @dict["Present"]/@Model.WeekdaysCount</td>
                    </tr>
                    <tr>
                        <th scope="row">Absent</th>
                        <td>@dict["Absent"]</td>
                    </tr>
                    <tr>
                        <th scope="row">Leave</th>
                        <td>@dict["Leave"]</td>
                    </tr>
                    <tr>
                        <th scope="row">Sick</th>
                        <td>@dict["Sick"]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        }
    </div>
</div>
<br />


@*@if (Model.UserAttendance.Count == 0)
    {<div>No attendance found.</div> }
    else
    {
        <table class="table table-bordered table-hover table-sm text-center">
            <thead class="thead-light">
                <tr>
                    <th>
                        Day
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserAttendance)
                {
                    <tr>
                        <td>
                            @(item.PunchDate.Value.DayOfWeek)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PunchDate)
                        </td>
                        <td>
                            @if (item.AttendanceStatus.Status != "Present")
                            {
                                <span style="color:palevioletred"> @Html.DisplayFor(modelItem => item.AttendanceStatus.Status)</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.AttendanceStatus.Status)

                            }

                        </td>
                        <td>
                            <form asp-page-handler="delete" method="post">
                                <input type="hidden" asp-for="DeleteId" value="@item.Id" />
                                <input type="hidden" asp-for="SelectedMonth" />
                                <input type="hidden" asp-for="SelectedYear" />
                                <button class="btn btn-link">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }*@

@{
    int days = DateTime.DaysInMonth(int.Parse(Model.SelectedYear), int.Parse(Model.SelectedMonth));
    List<DateTime> dates = new List<DateTime>();
    for (int i = 1; i <= days; i++)
    {
        dates.Add(new DateTime(int.Parse(Model.SelectedYear), int.Parse(Model.SelectedMonth), i));
    }
    //int nWeeks = (int)Math.Ceiling((double)days / (double)7);
    List<List<DateTime>> datesPerWeek = new List<List<DateTime>>();
    int nWeeks = 1;
    foreach (DateTime dt in dates)
    {
        if (dt.DayOfWeek == DayOfWeek.Saturday)
        {
            nWeeks++;
        }
    }
    for (int i = 0; i < nWeeks; i++)
    {
        datesPerWeek.Add(new List<DateTime>());
    }
    int n = 0;
    foreach (DateTime dt in dates)
    {
        datesPerWeek[n].Add(dt);
        if (dt.DayOfWeek == DayOfWeek.Saturday)
        {
            n++;
        }
    }
}
<table class="table table-bordered table-hover table-sm text-center">
    <thead class="thead-light">
        <tr>
            <th>
                Sun
            </th>
            <th>
                Mon
            </th>
            <th>
                Tue
            </th>
            <th>
                Wed
            </th>
            <th>
                Thu
            </th>
            <th>
                Fri
            </th>
            <th>
                Sat
            </th>
        </tr>
    </thead>
    @foreach (List<DateTime> dts in datesPerWeek)
    {
    <tr>
        @foreach (DateTime dt in dts)
        {
        if (dt.Day == 1 && dt.DayOfWeek != DayOfWeek.Sunday)
        {
        int firstday = (int)dt.DayOfWeek;
        for (int j = 0; j < firstday; j++)
        {
        <td style="background-color: grey;"></td>
        }
        }

        <td style="@(Model.Days.Contains(((int)dt.DayOfWeek).ToString())? "background-color: salmon": ""); width: 75px; height: 80px; ">
            <div class="row">
                <div class="col">
                    @dt.Day
                </div>
                <div class="col">
                    @foreach (var att in Model.UserAttendance)
                    {
                    if (((DateTime)att.PunchDate).Date == dt.Date)
                    {
                    <span class="text-@(att.AttendanceStatus.Status == "Present"? "success":"warning")">@att.AttendanceStatus.Status</span><br />
                    <form asp-page-handler="delete" method="post">
                        <input type="hidden" asp-for="DeleteId" value="@att.Id" />
                        <input type="hidden" asp-for="SelectedMonth" />
                        <input type="hidden" asp-for="SelectedYear" />
                        <button class="btn btn-link"><i class="far fa-trash-alt fa-fw"></i></button>
                    </form>
                    }
                    }
                </div>
            </div>

            @foreach (var hol in Model.Holidays)
            {
            if (((DateTime)hol.HolidayDate).Date == dt.Date)
            {
            <span class="small" style="word-break: break-all; color: #666">@hol.HolidayDes</span>
            }
            }

        </td>
        }
    </tr>
    }
</table>
