@page
@model PayrollAppRazorPages.Pages.SalarySettings.IndexModel

@{
    ViewData["Title"] = "Index";
}


<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md border-right">
        <div class="container row ">
            <h4 class="col">Extra Salary Earnings</h4>
            @{
                var parms1 = new Dictionary<string, string>
                    {
                    {"Type", "add" }
                };
                var parms2 = new Dictionary<string, string>
                    {
                    {"Type", "deduct" }
                };
            }
            <p><a class="btn btn-info " asp-page="Create" asp-all-route-data="parms1">Create New</a></p>
        </div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SalaryItem[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalaryItem[0].DefaultAmount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SalaryItem)
                {
                    @if (item.IsDeduction == true)
                    {
                        continue;
                    }
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DefaultAmount)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md">
        <div class="container row ">
            <h4 class="col">Extra Salary Deductions</h4>
            <p><a class="btn btn-info " asp-page="Create" asp-all-route-data="parms2">Create New</a></p>
        </div>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SalaryItem[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalaryItem[0].DefaultAmount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SalaryItem)
                {
                    @if (item.IsDeduction == false)
                    {
                        continue;
                    }
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DefaultAmount)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

